<!-- Botón para togglear el sidebar (solo visible en móviles) -->
<button class="md:hidden bg-black text-white p-2 rounded mb-4" (click)="toggleSidebar()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="currentColor"
            d="M3 7h18c.6 0 1-.4 1-1s-.4-1-1-1H3c-.6 0-1 .4-1 1s.4 1 1 1m18 2H3c-.6 0-1 .4-1 1s.4 1 1 1h18c.6 0 1-.4 1-1s-.4-1-1-1m0 4H3c-.6 0-1 .4-1 1s.4 1 1 1h18c.6 0 1-.4 1-1s-.4-1-1-1m0 4H3c-.6 0-1 .4-1 1s.4 1 1 1h18c.6 0 1-.4 1-1s-.4-1-1-1" />
    </svg>
</button>

<!-- Sidebar -->
<div [ngClass]="{ 'block': isSidebarVisible(), 'hidden': !isSidebarVisible() }"
    class="sidebar m-4 transition-all duration-300 ease-in-out overflow-hidden rounded-box ml-2 md:block mb-5">
    <p class="text-center">Nuestras Secciones</p>
    <ul class="menu menu-md rounded-box w-56">
        <li *ngFor="let categoria of categorias">
            <a (click)="scrollToCategory(categoria)">
                {{ categoria }}
            </a>
        </li>
    </ul>
</div>