<div class="p-6 bg-base-200 bg-opacity-70 shadow-xl rounded-2xl">
    <!-- Cabecera -->
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-3xl font-semibold text-neutral">Gestión de Productos</h2>
        <button class="btn btn-primary gap-2" (click)="abrir()">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor">
                <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
            </svg>
            Nuevo producto
        </button>
    </div>
    @if (visible) {
    <app-product-modal [productToEdit]="productoEditando" (productSaved)="actualizarProducto()"
        (close)="cerrar()"></app-product-modal>
    }

    <!-- Buscador -->
    <div class="mb-6">
        <label class="input input-bordered flex items-center gap-2 w-full max-w-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-neutral" viewBox="0 0 24 24"
                fill="currentColor">
                <path
                    d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.37,12.57 14.31,13.69L20.39,19.78L19,21.17L12.91,15.09C11.79,16.13 10.32,16.75 8.71,16.75A6.5,6.5 0 0,1 2.21,10.25A6.5,6.5 0 0,1 9.5,3M9.5,5A4.5,4.5 0 0,0 5,9.5A4.5,4.5 0 0,0 9.5,14A4.5,4.5 0 0,0 14,9.5A4.5,4.5 0 0,0 9.5,5Z" />
            </svg>
            <input type="text" placeholder="Buscar por nombre o descripción..." class="grow" [(ngModel)]="filtro" />
        </label>
    </div>

    <!-- Tabla -->
    <div class="overflow-x-auto rounded-xl shadow">
        <table class="table table-zebra">
            <thead class="bg-base-200 text-base font-semibold text-neutral">
                <tr>
                    <th>ID</th>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Descripción</th>
                    <th>Precio (€)</th>
                    <th>Unidad</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productosFiltrados">
                    <td>{{ producto?.id }}</td>
                    <td>
                        <img [src]="producto.photos?.[0]?.url" alt="Producto" class="w-12 h-12 object-cover rounded" />
                    </td>
                    <td class="font-medium">{{ producto.name }}</td>
                    <td>{{ producto.category?.name || 'Sin categoría' }}</td>
                    <td class="max-w-xs truncate" title="{{ producto?.description }}">
                        {{ producto?.description }}
                    </td>
                    <td>{{ producto?.price | number: '1.2-2' }}</td>
                    <td>{{ producto?.unit }}</td>
                    <td class="text-center">
                        <div class="flex justify-center gap-2">
                            <button class="btn btn-sm btn-outline btn-info" (click)="editarProducto(producto.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24"
                                    fill="currentColor">
                                    <path
                                        d="M14.06,9.02L15,9.94L5.92,19H5V18.08L14.06,9.02M17.66,3C17.41,3 17.15,3.1 16.97,3.29L15.13,5.12L18.87,8.87L20.71,7.03C21.1,6.64 21.1,6 20.71,5.62L18.37,3.29C18.18,3.1 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                                </svg>
                            </button>

                            <button class="btn btn-sm btn-outline btn-error" (click)="confirmarEliminacion(producto)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24"
                                    fill="currentColor">
                                    <path
                                        d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6Z" />
                                </svg>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="productosFiltrados?.length === 0 || !productosFiltrados">
                    <td colspan="7" class="text-center text-neutral-content py-4">
                        No se encontraron productos.
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <app-confirm-dialog *ngIf="mostrarConfirmacion" [nombre]="productoAEliminar?.name"
        (onConfirm)="eliminarConfirmado()" (onCancel)="cancelarEliminacion()">
    </app-confirm-dialog>


</div>