<main>
    <h3 class="text-center text-3xl font-bold my-8">
        NUESTROS MEJORES PRODUCTOS
    </h3>
    <div class="flex min-h-screen">

        <app-menulateral></app-menulateral>

        <!-- Área de contenido principal -->
        <div class="flex-1 p-4">
            <!-- Botón para ocultar/mostrar el menú lateral -->
            <button id="toggleBtn" class="mb-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
                Toggle Sidebar
            </button>
            <h1 class="text-2xl font-bold">Contenido Principal</h1>
            <p>Aquí se mostrará el contenido principal de la aplicación.</p>
        </div>
    </div>

</main>